<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
	<h1>Inicio</h1>
	<form class="form-horizontal" action="/auth/" method="post">
		{% csrf_token %}

		<div class="form-group">
			<p>Conta</p>
		  <div class="col-sm-10">
		    <label for="exampleInputUsuario">
		    <font  color="white">Usuário</font>
		    </label>
		      <input type="login" class="form-control" id="inputLogin" placeholder="Usuario123" name="username">
		    </div>
		</div>

		<div class="form-group">
	   
	    <div class="col-sm-10">
	    <label for="exampleInputSenha">
	    <font  color="white">Senha</font>
	    </label>
	      <input type="password" class="form-control" id="inputSenha" placeholder="Senha" name="password">
	    </div>
  	</div>
  
		<button type="submit">Entrar</button>
	</form>
	<br>
	<a href="verificar_usuario">Esqueceu a senha?</a>
</body>
</html>
